<div class="row">
        <div class="col-md-4 p-3 m-2" *ngFor="let costume of costumes">
                <div class="card text-center">
                  <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    {{costume.name}}
                    <button class="btn btn-danger" (click)="deletecostume(costume.id)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                  <img class="card-img-top" [src]="costume.image">
                  <div class="card-body">
                    <p>{{costume.prec_alq}}</p>
                    <p>{{costume.description}}</p>
                    <p>{{costume.cantidad}}</p>
                    <a [routerLink]="['/costumes/edit', costume.id]" class="btn btn-info btn-block">
                      editar disfraz
                    </a>
                  </div>
                </div>
        </div>
</div>

